
body {
	margin: 0px;
	font-family: 'Roboto Mono', monospace;
}
html{
    background-color: #F5F5DC;
}
header{
	color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    letter-spacing: 25px;
    font-size:38px;
}
a{
    text-decoration: none;
    color:black;
    letter-spacing: 4px;
    font-size: 18px;
}
a:hover {
    font-weight: bolder;
}
nav{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: nav;
}
.nav_item{
    text-align: center; 
}
#main_pic{
    grid-area: main_pic;
    max-width: 720px;
    height: 480px;
    overflow: hidden;
    justify-self: center;
}
#about{
    grid-area: about;
    justify-self: center;
}
#about img{
    object-fit: cover;
  object-position: -20% 0;
  width: 300px;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  height: 337px;
}
#container{
    display: grid;
    grid-template-rows:auto 1fr 3fr 3fr;
    align-items: center;
    grid-template-areas:
    "nav"
    "."
    "main_pic"
    "about";
}

@media only screen and (max-width:768px){
    header{
        padding-top: 75px;
        padding-bottom: 75px;
        font-size: 28px;
        letter-spacing: 18px;
    }
    a{
        letter-spacing: 3px;
        font-size: 13px;
    }
	#container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 4fr 1fr;
        align-items: center;
    }
}
@media only screen and (min-width:769px) {
	#container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 4fr 4fr auto;
        align-items: center;

    }
}
